body {
    margin: 0;
    padding: 0;
}

.dataTable td ,th {
    padding: 0.5em 0.1em;
    border: rgba(136, 136, 136, 0.49) 1px solid;
    border-left: none;
    border-right: none;
}

thead {
    background: rgba(136, 136, 136, 0.28);
}

button {
    cursor: pointer;
    height: 1.8em;
}

input {
    font-size: 1em;
    border: rgba(132, 132, 132, 0.88) 1px solid;
    border-radius: 0.3em;
    padding: 0.2em 0.3em;
    color: rgba(87, 87, 87, 0.98);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 4.9em 0;
}

.baseDiv {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tableDiv {
    width: 90%;
    /*margin-left: 15%;*/
}


.dataTable {
    text-align: center;
    width: 100%;
    border: rgba(136, 136, 136, 0.49) 1px solid;
    border-collapse: collapse;
}

#rightTable thead {
    background: #FF6F82;
    color: white;
}
#leftTable thead {
    background: cornflowerblue;
    color: white;
}
#leftTable td,#leftTable th {
    padding-right: 0.6em;
}


.leftDiv {
    height: 100%;
}

.rightDiv {
    height: 100%;
}


.saveBtn {
    border: 0px;
    background-color: dodgerblue;
    color: white;
    font-size: 0.6em;
    border-radius: 0.2em;
    padding: 0.3em 0.8em 0.4em 0.8em;
    box-shadow: 1px 1px 3px #888888;
    margin: 0 0.3em;
    height: 2.6em;
    font-size: 0.7em;
}

.manageBtn {
    border: 0px;
    background-color: dodgerblue;
    color: white;
    border-radius: 0.3em;
    padding: 0.2em 0.8em;
    box-shadow: 1px 1px 3px #888888;
}

.alertDiv {
    box-shadow: 5px 5px 5px #888888;
    border-radius: 1em;
    margin-top: 15%;
    width: 40%;
    height: 40%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.topDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.sysTitle {
    width: 100%;
    height: 3.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    color: white;
    font-size: 1.2em;
    background: white;
    border-bottom: rgba(132, 132, 132, 0.58) 1px solid;
    box-shadow: 1px 1px 8px #848484;
}
.conns {
    color: #ff7569;
    width: 50%;
    text-align: center;
}
.sep-line {
    height: 100%;
    background: rgba(136, 136, 136, 0.14);
    /*width: 1px;*/
}
.configs {
    width: 50%;
    text-align: center;
    color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-left: 2em;*/
}

.sysBtns {
    padding: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}